.body {
    width: 1200px;
    height: 3518px;
}

.header__minimo {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: 69px;
    letter-spacing: 8px;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    margin-top: 70px;
    display: inline;
}

.header__list_elem{
    padding-top: 70px;
    margin-top: 70px;
    display: inline;
}
.header__list {
    list-style-type: none;
    overflow: hidden;
    margin-left: 373px;
    padding-top: 70px;
    display: inline;
}

.header__link {
    padding-top:70px;
    font: 400 14px / 24px;
    font-family: 'PlayfairDisplay';
    color: #626262;
    text-transform: uppercase;
    padding-left: 1.25em;
    display: inline-block;
    cursor:pointer;
}

.header__main-photo {
    margin-top: 68px;
    margin-left: 70px;
}

.article {
    margin-left: 70px;
}

.article__theme {
    display: block;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #b4ad9e;
    margin-top: 97px;
}

.article__header {
    font-family: PlayfairDisplay;
    font-size: 30px;
    color: #626262;
    margin-top: 35px;
}

.article__main-text {
    margin-top: 40px;
    font: 400 14px / 24px 'PlayfairDisplay';
    color: #626262;
}

.about-me {
    width:280px;
    display: block;
    float: right;
    margin-top: 100px;
    padding-left: 130px;
    margin-right: 70px;
}

.container::after {
    content:"";
    display:block;
    clear:both;
}

.about-me__header {
    display: block;
    margin-top: 200px;
    margin-left: 3px;
    font: 400 24px / 20px PlayfairDisplay;
    color: #626262;
}

.about-me__text {
    float:right;
    font: 400 12px / 20px PlayfairDisplay;
    color: #626262;
    line-height: 20px;
    width: 276px;
    display: block;
    margin-top: 10px;
}

.about-me__image {
    float: right;
}

.about__me__social_media {
    padding-left: 20px;
}

.article__main_first-image {
    margin-top: -23522px;
}

.article__main_images {
    padding-top: 50px;
}

.about-me__header_posts {
    display: block;
    font: 300 14px 'Ubuntu';
    height: 11px;
    margin-top: 80px;
    color: #b4ad9e;
    text-transform: uppercase;
}

.about-me__list {
    display: block;
    margin-top: 10px;
    font: 400 16px PlayfairDisplay;
    color: #626262;
    margin-left: 10px;
    list-style-type: circle;
}

.banner {
    margin-top: 60px;
    position: relative;
}

.banner__text {
    position:absolute;
    text-align:center;
    font: 300 48px 'Ubuntu';
    color: #ffffff; 
    margin-top: 160px;
    margin-left: -210px;
}

.banner__spot {
    position: absolute;
    text-transform: uppercase;
    font: 300 14px 'Ubuntu';
    color: #ffffff;
    margin-top: 225px;
    margin-left: -175px;
}

.article__main_blockquote {
    float: left;
    color: #626262;
    font: italic 14px / 24px 'PlayfairDisplay';
    line-height: 24px;
    width: 632px;
    margin-left: 20px;
}

.article__main_underquote {
    float: left;
    color: #626262;
    font: 400 14px / 24px 'PlayfairDisplay';
    line-height: 24px;
    width:652px;
}

.share__button {
    display: block;
    text-transform: uppercase;
    font: 300 13px / 24px 'Ubuntu';
    color: #b4ad9e;
    position: absolute;
    margin-top: 400px;
    margin-left: 590px;
}

.button__first {
    position: absolute;
    cursor: pointer;
    margin-top: 950px;
}
.button__second {
    position: absolute;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 953px;
}
.button__third {
    position: absolute;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 950px;
}
.button__fourth {
    position: absolute;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 950px;
}
.button__fifth {
    position: absolute;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 950px;
}

.footer {
    top: 524%;
    padding-top: 29px;
    position: absolute;
    font: 400 14px / 24px 'PlayfairDisplay';
    color: #000000;
    width: 100%; 
    height: 56px;
    background-color: #d9d9d9;
}

.footer__terms {
    cursor: pointer;
    display:inline;
    font: 400 14px / 24px 'PlayfairDisplay';
    color: #000000;
    font-weight: bold;
    margin-left: 71px;  
}

.footer__privacy {
    cursor: pointer;
    font: 400 14px / 24px 'PlayfairDisplay';
    color: #000000;
    margin-left: 20px;
    font-weight: bold;
    text-align: center;
    display: inline;
}

.footer__follow {
    font-weight: bold;
    margin-left: 720px;
    color: #000000;
    font: 400 14px / 24px 'PlayfairDisplay';
    display: inline;
}

.footer__image {
    padding-left: 10px; 
}
.about-me__comments {
    margin-left: 10px;
    display: block;
    font: 300 12px 'Ubuntu';
    color: #b4ad9e;
    margin-top: 5px;
    text-transform: uppercase;
}

.about-me__list_radio-button-first {
    display: inline;
    position: absolute;
    margin-top: 20px;
}

.about-me__list_radio-button-second {
    display: inline;
    position: absolute;
    margin-top: 74px;
}

.about-me__list_radio-button-third {
    display: inline;
    position: absolute;
    margin-top: 127px;
}
