.header__minimo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: 69px;
    letter-spacing: 8px;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-family: 'Inconsolata';
    text-transform: uppercase;
    margin-top: 70px;
    display: inline;
}

ul {
    padding-top: 70px;
    margin-top: 70px;
    display: inline;
}
li {
    list-style-type: none;
    overflow: hidden;
    margin-left: 373px;
    padding-top: 70px;
    display: inline;
}

.header__link {
    padding-top:70px;
    font: 400 14px / 24px;
    font-family: 'PlayfairDisplay';
    color: #626262;
    text-transform: uppercase;
    padding-left: 1.25em;
    display: inline-block;
    cursor:pointer;
}

.main__photo {
    margin-top: 68px;
    margin-left: 70px;
}

.main__section {
    margin-left: 70px;
}

.article__theme {
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #b4ad9e;
    margin-top: 97px;
}

.article__header {
    font-family: PlayfairDisplay;
    font-size: 30px;
    color: #626262;
    margin-top: 35px;
}

.article__main__text {
    margin-top: 40px;
    font: 400 14px / 24px PlayfairDisplay;
    color: #626262;
}

.about__me {
    width:280px;
    display: block;
    float: right;
    margin-top: 100px;
    padding-left: 130px;
    margin-right: 216px;
}

.container::after {
    content:"";
    display:block;
    clear:both;
}

.aside__header {
    display: block;
    margin-top: 200px;
    margin-left: 3px;
    font: 400 24px / 20px PlayfairDisplay;
    color: #626262;
}

.about__me__text {
    float:right;
    font: 400 12px / 20px PlayfairDisplay;
    color: #626262;
    line-height: 20px;
    width: 276px;
    display: block;
    margin-top: 10px;
}

.about__me__image {
    float: right;
}

.about__me__social_media {
    padding-left: 20px;
}

.main__section__first__image {
    margin-top: -550px
}

.main__section__images {
    padding-top: 50px;
}

.aside__header__posts {
    display: block;
    font: 300 14px 'Ubuntu';
    height: 11px;
    margin-top: 80px;
    color: #b4ad9e;
    text-transform: uppercase;
}

.aside__list {
    margin-top: -50px;
    font: 400 16px 'PlayfairDisplay';
    color: #626262;
    margin-left: -37px;
    list-style-type: circle;
}

.banner {
    margin-top: 60px;
    position: relative;
}

.banner__text {
    position:absolute;
    text-align:center;
    font: 300 48px 'Ubuntu';
    color: #ffffff; 
    margin-top: 160px;
    margin-left: -210px;
}

.banner__spot {
    position: absolute;
    text-transform: uppercase;
    font: 300 14px 'Ubuntu';
    color: #ffffff;
    margin-top: 225px;
    margin-left: -175px;
}

.blockquote {
    float: left;
    color: #626262;
    font: italic 14px / 24px 'PlayfairDisplay';
    line-height: 24px;
    width: 632px;
    margin-left: 20px;
}

.underquote {
    float: left;
    color: #626262;
    font: 400 14px / 24px 'PlayfairDisplay';
    line-height: 24px;
    width:652px;
}

.share__button {
    text-transform: uppercase;
    font: 300 13px / 24px 'Ubuntu';
    color: #b4ad9e;
    position: absolute;
    margin-top: 400px;
    margin-left: 590px;
}

.buttonFirst {
    position: absolute;
    cursor: pointer;
    margin-top: 950px;
}
.buttonSecond {
    position: absolute;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 953px;
}
.buttonThird {
    position: absolute;
    cursor: pointer;
    margin-left: 60px;
    margin-top: 950px;
}
.buttonFourth {
    position: absolute;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 950px;
}
.buttonFifth {
    position: absolute;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 950px;
}

.footer {
    padding-top: 40px;
    position: fixed;
    left: 0; bottom: 0; 
    font: 400 14px / 24px 'PlayfairDisplay';
    color: #000000;
    width: 100%; 
    height: 57px;
    background-color: #d9d9d9;
}

.Terms {
    margin-top:40px;
    display:inline;
    font: 400 14px / 24px 'PlayfairDisplay';
    color: #000000;
    font-weight: bold;
    margin-left: 71px;  
}

.Privacy {
    font: 400 14px / 24px 'PlayfairDisplay';
    color: #000000;
    margin-left: 20px;
    font-weight: bold;
    display: inline;
}

.Follow {
    font-weight: bold;
    margin-left: 720px;
    color: #000000;
    font: 400 14px / 24px 'PlayfairDisplay';
    display: inline;
}

.footer__image {
    padding-left: 10px; 
}