{% extends "layout.html" %} 

{% block main %}
    <section class="contact">
        <h1 class="contact__header">Contact Us</h1>
        <p class="contact__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.</p>
        <img src="images/sep.png" alt="separator">
        <form class="form">
            <input class="form__name" type="text" id="1" name="name" placeholder="Your Name">
            <input class="form__email" type="text" id="2" name="email" placeholder="Email">
            <div class="clearfix"/>
            <input class="form__subject form__subject_long" type="textarea" id="3" name="subject" placeholder="Subject">
            <input class="form__message" type="text" id="4" name="message" placeholder="Your Message">
            <button class="form__send">SEND MESSAGE</button>
        </form>
    </section>
{% endblock %}