{% extends "index.html" %} 

{% block header %}
<header class="header">
        <a href="#"><img src="images/Palo-Alto.png" alt="logo"></a>
        <ul class="menu">
                <li class="menu__elem menu__elem_search"/>
                <li class="menu__elem menu__elem_disabled">
                    <span>contacts</span>
                </li>
                <li class="menu__elem">
                    <span>archive</span>
                </li>
                <li class="menu__elem">
                    <span>about</span>
                </li>
                <li class="menu__elem">
                    <span>home</span>
                </li>
                <div class="clearfix"/>
            </ul>
        <div class="clearfix"/>
    </header>
{% endblock %}